<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Welcome</title>
  </head>
  <body>
  <div class="container mt-4">
  <h1> <%= title %> </h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">nama</th>
      <th scope="col">kelas</th>
    </tr>
  </thead>
  <tbody>
 <% for(let user of users) { %>
    <tr>
      <td><%= user.id_user%></td>
      <td><%= user.nama%></td>
      <td><%= user.kelas%></td>
    </tr>
  <% } %>
  </tbody>
</table>
  </div>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>